In [3]:
%cat A1_mosquito_data.csv | head -n 5

year,temperature,rainfall,mosquitos
2001,80,157,150
2002,85,252,217
2003,86,154,153
2004,87,159,158

In [8]:
%ls *.csv

A1_mosquito_data.csv  A3_mosquito_data.csv  B2_mosquito_data.csv
A2_mosquito_data.csv  B1_mosquito_data.csv

In [9]:
import pandas as pd

In [13]:
pd.read_csv("A1_mosquito_data.csv")

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [14]:
data = pd.read_csv("A1_mosquito_data.csv")

In [16]:
data

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [25]:
weight_kg = 55

In [51]:
weight_lb = 2.2 * weight_kg

In [27]:
weight_lb

121.00000000000001

In [28]:
weight_kg = 70

In [52]:
weight_lb

154.0

In [53]:
type(data)

pandas.core.frame.DataFrame

In [54]:
type(weight_kg)

int

In [56]:
data['year']

0    2001
1    2002
2    2003
3    2004
4    2005
5    2006
6    2007
7    2008
8    2009
9    2010
Name: year, dtype: int64

In [57]:
data[['rainfall', 'temperature']]

   rainfall  temperature
0       157           80
1       252           85
2       154           86
3       159           87
4       292           74
5       283           75
6       214           80
7       197           85
8       231           74
9       207           74

In [58]:
data[0:2]

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217

This should be read as "get all rows starting with 0 and up to but not including row 2"
* one point
* two points

$\frac{1}{2}$

In [60]:
data[1]

KeyError: 1

In [61]:
data.iloc[1]

year           2002
temperature      85
rainfall        252
mosquitos       217
Name: 1, dtype: int64

In [62]:
type(data.iloc[1])

pandas.core.series.Series

A `DataFrame` is made up of 1 or more `Series` objects as columns. Indexing a row gives back a `Series` giving the data of that row.

A `Series` has a single `dtype` (datatype), so indexing a row may give back datatypes you didn't expect. Be careful.

In [63]:
data.values

array([[2001,   80,  157,  150],
       [2002,   85,  252,  217],
       [2003,   86,  154,  153],
       [2004,   87,  159,  158],
       [2005,   74,  292,  243],
       [2006,   75,  283,  237],
       [2007,   80,  214,  190],
       [2008,   85,  197,  181],
       [2009,   74,  231,  200],
       [2010,   74,  207,  184]])

In [64]:
data.dtypes

year           int64
temperature    int64
rainfall       int64
mosquitos      int64
dtype: object

In [65]:
data.values.dtype

dtype('int64')

## Subsetting data

In [67]:
data[data['year'] > 2005]

   year  temperature  rainfall  mosquitos
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [69]:
greater_than_05 = data['year'] > 2005

In [71]:
data['year'][greater_than_05]

5    2006
6    2007
7    2008
8    2009
9    2010
Name: year, dtype: int64

This is the same as the convenience form below:

In [72]:
data.year[greater_than_05]

5    2006
6    2007
7    2008
8    2009
9    2010
Name: year, dtype: int64

In [74]:
data.mean()

year           2005.5
temperature      80.0
rainfall        214.6
mosquitos       191.3
dtype: float64

In [76]:
data[['rainfall', 'mosquitos']].mean()

rainfall     214.6
mosquitos    191.3
dtype: float64

In [77]:
data.max()

year           2010
temperature      87
rainfall        292
mosquitos       243
dtype: int64

In [78]:
data.describe()

             year  temperature    rainfall  mosquitos
count    10.00000    10.000000   10.000000   10.00000
mean   2005.50000    80.000000  214.600000  191.30000
std       3.02765     5.456902   50.317216   33.23335
min    2001.00000    74.000000  154.000000  150.00000
25%    2003.25000    74.250000  168.500000  163.75000
50%    2005.50000    80.000000  210.500000  187.00000
75%    2007.75000    85.000000  246.750000  212.75000
max    2010.00000    87.000000  292.000000  243.00000

In [84]:
data.describe()['year']['25%']

2003.25

In [85]:
data.describe?

In [86]:
type?

In [87]:
help(data.describe)

Help on method describe in module pandas.core.generic:

describe(percentiles=None, include=None, exclude=None) method of pandas.core.frame.DataFrame instance
    Generate various summary statistics, excluding NaN values.

    Parameters
    ----------
    percentiles : array-like, optional
        The percentiles to include in the output. Should all
        be in the interval [0, 1]. By default `percentiles` is
        [.25, .5, .75], returning the 25th, 50th, and 75th percentiles.
    include, exclude : list-like, 'all', or None (default)
        Specify the form of the returned result. Either:

        - None to both (default). The result will include only
          numeric-typed columns or, if none are, only categorical columns.
        - A list of dtypes or strings to be included/excluded.
          To select all numeric types use numpy numpy.number. To select
          categorical objects use type object. See also the select_dtypes
          documentation. eg. df.describe(include=['O'])
        - If include is the string 'all', the output column-set will
          match the input one.

    Returns
    -------
    summary: NDFrame of summary statistics

    Notes
    -----
    The output DataFrame index depends on the requested dtypes:

    For numeric dtypes, it will include: count, mean, std, min,
    max, and lower, 50, and upper percentiles.

    For object dtypes (e.g. timestamps or strings), the index
    will include the count, unique, most common, and frequency of the
    most common. Timestamps also include the first and last items.

    For mixed dtypes, the index will be the union of the corresponding
    output types. Non-applicable entries will be filled with NaN.
    Note that mixed-dtype outputs can only be returned from mixed-dtype
    inputs and appropriate use of the include/exclude arguments.

    If multiple values have the highest count, then the
    `count` and `most common` pair will be arbitrarily chosen from
    among those with the highest count.

    The include, exclude arguments are ignored for Series.

    See Also
    --------
    DataFrame.select_dtypes

In [ ]:
data.describe()

----------
### Challenge: obtain the standard deviation of mosquito count for years in which the rainfall was greater than 200

In [95]:
data['mosquitos'][data['rainfall'] > 200].std()

24.587937421969063

--------------

In [96]:
# random aside, because this was asked:
# how can I extract specific rows by index?
data.iloc[[1, 5, 7]]

   year  temperature  rainfall  mosquitos
1  2002           85       252        217
5  2006           75       283        237
7  2008           85       197        181

In [99]:
(data['temperature'] - 32) * 5/9

0    26.666667
1    29.444444
2    30.000000
3    30.555556
4    23.333333
5    23.888889
6    26.666667
7    29.444444
8    23.333333
9    23.333333
Name: temperature, dtype: float64

In [101]:
data['temperature'] * 5

0    400
1    425
2    430
3    435
4    370
5    375
6    400
7    425
8    370
9    370
Name: temperature, dtype: int64

In [104]:
data['temperature'] * data['mosquitos']

0    12000
1    18445
2    13158
3    13746
4    17982
5    17775
6    15200
7    15385
8    14800
9    13616
dtype: int64

In [107]:
data['temperature'] = (data['temperature'] - 32) * 5/9

In [108]:
data

   year  temperature  rainfall  mosquitos
0  2001    26.666667       157        150
1  2002    29.444444       252        217
2  2003    30.000000       154        153
3  2004    30.555556       159        158
4  2005    23.333333       292        243
5  2006    23.888889       283        237
6  2007    26.666667       214        190
7  2008    29.444444       197        181
8  2009    23.333333       231        200
9  2010    23.333333       207        184